<a href="https://colab.research.google.com/github/Jungddaseul/Big-Data-Certification-study-/blob/main/%5BMOCK_EXAM1%5D_TYPE1_%EC%9E%91%EC%97%85%ED%98%951_%EB%AA%A8%EC%9D%98%EA%B3%A0%EC%82%AC_Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## 1. 첫번째 데이터 부터 순서대로 50:50으로 데이터를 나누고, 앞에서 부터 50%의 데이터(이하, A그룹)는 'f1'컬럼을 A그룹의 중앙값으로 채우고, 뒤에서부터 50% 데이터(이하, B그룹)는 'f1'컬럼을 B그룹의 최대값으로 채운 후, A그룹과 B그룹의 표준편차 합을 구하시오
### 단, 소수점 첫째자리까지 구하시오 (둘째자리에서 반올림)

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('/content/drive/MyDrive/빅분기/archive/basic1.csv')
df.shape

(100, 8)

In [3]:
df_a = df[:50]
df_b = df[50:]
df_a.shape, df_b.shape

((50, 8), (50, 8))

In [4]:
df_a.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [5]:
df_b.head()

      id   age city    f1  f2   f3    f4         f5
50  id51  36.0   대구   NaN   0  NaN  ISTJ  83.685380
51  id52  97.0   대구  82.0   1  NaN  ISFJ  90.496999
52  id53  52.0   대구  50.0   0  NaN  ESTP  20.129444
53  id54  53.0   대구   NaN   1  NaN  ENFJ  69.730313
54  id55  75.0   대구  63.0   2  NaN  ENTP  13.049921

In [6]:
# 결측치 채우기
df_a.loc[:, 'f1'] = df_a['f1'].fillna(df_a['f1'].median())
df_b.loc[:, 'f1'] = df_b['f1'].fillna(df_b['f1'].max())

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [7]:
a = df_a['f1'].std()
a

13.70239067477211

In [8]:
b = df_b['f1'].std()
b

28.299304094710486

In [9]:
print(a+b)

42.0016947694826

## 2. 'f4'컬럼을 기준 내림차순 정렬과 'f5'컬럼기준 오름차순 정렬을 순서대로 다중 조건 정렬하고나서 앞에서부터 10개의 데이터 중 'f5'컬럼의 최소값 찾고, 이 최소값으로 앞에서 부터 10개의 'f5'컬럼 데이터를 변경함. 그리고 'f5'컬럼의 평균값을 계산함
### 단 소수점 둘째자리까지 출력(셋째자리에서 반올림)

In [10]:
df = pd.read_csv('/content/drive/MyDrive/빅분기/archive/basic1.csv')

In [13]:
df = df.sort_values(['f4', 'f5'], ascending=[False, True]).reset_index(drop=True)
df.head(10)

     id   age city    f1  f2   f3    f4         f5
0  id43  23.0   대구  60.0   0  NaN  ISTP  29.269869
1  id70  -9.0   경기  96.0   1  NaN  ISTP  48.431184
2  id17  74.0   서울   NaN   1  NaN  ISTP  67.886373
3  id23  34.0   부산  75.0   1  NaN  ISTP  69.730313
4  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
5  id51  36.0   대구   NaN   0  NaN  ISTJ  83.685380
6  id66  87.0   경기   NaN   1  NaN  ISFP  17.252986
7  id21  90.0   부산   NaN   1  NaN  ISFP  29.269869
8  id71  35.0   경기  84.0   2  NaN  ISFP  52.667078
9  id68  35.0   경기  45.0   2  NaN  ISFP  67.886373

In [14]:
df.shape

(100, 8)

In [15]:
df.iloc[:10, 7] = df['f5'][:10].min()
print(round(df['f5'].mean(), 2))

53.63

## 3. 'age' 컬럼의 IQR방식을 이용한 이상치 수와 표준편차*1.5방식을 이용한 이상치 수 합을 구하시오
- IQR방식 : Q1 - 1.5 * IQR, Q3 + 1.5 * IQR에서 벗어나는 영역을 이상치라고 판단함 (Q1은 데이터의 25%, Q3는 데이터의 75% 지점임)
- 표준편차*1.5방식: 평균으로부터 '표준편차*1.5'를 벗어나는 영역을 이상치라고 판단함

In [17]:
df = pd.read_csv('/content/drive/MyDrive/빅분기/archive/basic1.csv')
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [19]:
Q1 = df['age'].quantile(.25)
Q3 = df['age'].quantile(.75)
IQR = Q3 - Q1
min_iqr = Q1 - (1.5 * IQR)
max_iqr = Q3 + (1.5 * IQR)
print(min_iqr, max_iqr)

-48.3125 152.1875

In [20]:
std = df['age'].std() * 1.5
mean = df['age'].mean()
min_out = mean - std
max_out = mean + std
print(min_out, max_out)

5.298862216116966 96.62713778388303

In [22]:
 # 표준편차 * 1.5 방식기준
 out1 = sum((df['age'] < min_out) | (df['age'] > max_out))
out1

14

In [23]:
# IQR방식 기준
out2 = sum((df['age'] < min_iqr) | (df['age'] > max_iqr))
out2

0

In [24]:
print(out1+ out2)

14