<a href="https://colab.research.google.com/github/Jungddaseul/Big-Data-Certification-study-/blob/main/T1_11_min_max_%26_%EC%83%81%ED%95%98%EC%9C%84_5_%EA%B0%92_Expected_Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# min-max스케일링 기준 상하위 5% 구하기
# 주어진 데이터에서 'f5'컬럼을 min-max 스케일 변환한 후, 상위 5%와 하위 5% 값의 합을 구하시오

# - 데이터셋 : basic1.csv

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('/content/drive/MyDrive/빅분기/archive/basic1.csv')
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [3]:
# 결측치 확인
df.isnull().sum()

id       0
age      0
city     0
f1      31
f2       0
f3      95
f4       0
f5       0
dtype: int64

In [5]:
# min-max scaler
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df['f5_1'] = scaler.fit_transform(df[['f5']])

In [6]:
df.head()

     id   age city    f1  f2   f3    f4         f5      f5_1
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791  0.919533
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826  0.570252
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986  0.084129
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078  0.483685
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869  0.219708

In [7]:
# 상위 5%, 하위 5% 값 구하기
lower = df['f5_1'].quantile(0.05)
upper = df['f5_1'].quantile(0.95)
lower, upper

(0.03670782406038746, 0.9881662742993513)

In [9]:
print(lower+upper)

1.0248740983597389