<a href="https://colab.research.google.com/github/Jungddaseul/Big-Data-Certification-study-/blob/main/T1_18_%EC%8B%9C%EA%B3%84%EC%97%B4_%EB%8D%B0%EC%9D%B4%ED%84%B02_Expected_Question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 주어진 데이터에서 2022년 5월 주말과 평일의 sales컬럼 평균값 차이를 구하시오 (소수점 둘째자리까지 출력, 반올림)
- 데이터셋 : basic2.csv

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/빅분기/archive/basic2.csv')
df.head()

         Date     Sales      PV      UV  Events
0  2022-01-01  22711525  397349  4421.0       1
1  2022-01-02     36779    3969  2289.0       0
2  2022-01-03  13943875  373890     NaN       1
3  2022-01-04   8088593  142054  2157.0       0
4  2022-01-05   2395374  190684     NaN       0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    730 non-null    object
 1   Sales   730 non-null    int64
 2   PV      730 non-null    int64
 3   UV      684 non-null    float64
 4   Events  730 non-null    int64
dtypes: float64(1), int64(3), object(1)
memory usage: 28.6+ KB

In [5]:
df.isnull().sum()

Date       0
Sales      0
PV         0
UV        46
Events     0
dtype: int64

In [10]:
df['Date'] = pd.to_datetime(df['Date'])
df['year'] = df['Date'].dt.year
df['month'] = df['Date'].dt.month
df['day'] = df['Date'].dt.day
df['dayofweek'] = df['Date'].dt.dayofweek
df.head()

        Date     Sales      PV      UV  Events  year  month  day  dayofweek
0 2022-01-01  22711525  397349  4421.0       1  2022      1    1          5
1 2022-01-02     36779    3969  2289.0       0  2022      1    2          6
2 2022-01-03  13943875  373890     NaN       1  2022      1    3          0
3 2022-01-04   8088593  142054  2157.0       0  2022      1    4          1
4 2022-01-05   2395374  190684     NaN       0  2022      1    5          2

In [13]:
df['dayofweek']<5

0      False
1      False
2       True
3       True
4       True
       ...
725     True
726     True
727     True
728    False
729    False
Name: dayofweek, Length: 730, dtype: bool

In [17]:
# 0~4 평일, 5~6 주말
cond = df.loc[(df['year'] == 2022) & (df['month'] == 5)]
week_day = cond['Sales'].loc[df['dayofweek']<5].mean()
week_end = cond['Sales'].loc[df['dayofweek']>=5].mean()

In [20]:
print(round(week_end - week_day, 2))

3010339.1

## lambda표현

In [22]:
df['weekend'] = df['dayofweek'].apply(lambda x: x>=5)

weekend_cond = (df['year']==2022) & (df['month']==5) & (df['weekend'])
weekday_cond = (df['year']==2022) & (df['month']==5) & (~df['weekend'])

weekend = df[weekend_cond]['Sales'].mean()
weekday = df[weekday_cond]['Sales'].mean()

round(weekend - weekday, 2)

3010339.1