<a href="https://colab.research.google.com/github/Jungddaseul/Big-Data-Certification-study-/blob/main/T1_2_%EC%9D%B4%EC%83%81%EC%B9%98%EB%A5%BC_%EC%B0%BE%EC%95%84%EC%82%AC(%EC%86%8C%EC%88%98%EC%A0%90_%EB%82%98%EC%9D%B4).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 이상치를 찾아라(소수점 나이)
### 주어진 데이터에서 이상치(소수점 나이)를 찾고 올림, 내림, 버림(절사)했을때 3가지 모두 이상치 'age' 평균을 구한 다음 모두 더하여 출력하시오

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

[작업순서]
1. 라이브러리 및 데이터 불러오기
2. 소수점 데이터 찾기
3. 이상치 포함한 데이터 올림, 내림, 버림의 평균값
4. 평균값 총합 출력

In [7]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
import numpy as np
import math

df = pd.read_csv('/content/drive/MyDrive/빅분기/archive/basic1.csv')
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

- math.floor()
- math.floor()함수는 x보다 크지 않은 가장 큰 정수 값으로 반올림 한다.
- Return the floor of x as an Integral.
- 인자는 수치 자료형 가능
- series값은 TypeError: cannot convert the series to <class 'float'>

### [데이터 반올림, 올림, 내림, 버림]
- 반올림(round)
- 올림(ceil)
- 내림(floor)
- 버림(Trunc)

In [20]:
# 소수점 데이터 찾기
df = df[df['age']-np.floor(df['age']) != 0]
df

      id   age city    f1  f2   f3    f4         f5
6   id07  36.3   서울  60.0   1  NaN  ISFJ   9.796378
8   id09   3.3   서울  35.0   2  NaN  ESFJ  17.252986
21  id22  -6.3   부산  72.0   1  NaN  ENFP  52.667078
28  id29 -13.5   부산  47.0   2  NaN  ENTP  67.886373
46  id47  34.6   대구  75.0   1  NaN  ESTJ  90.496999
64  id65  26.5   경기   NaN   0  NaN  ISFP  91.297791
84  id85  83.6   경기  55.0   0  NaN  INFJ  80.138280
92  id93  21.8   경기  57.0   0  NaN  ISFP  73.586397

In [22]:
# 이상치를 포함한 데이터 올림, 내림, 버림의 평균값

# 올림
m_ceil = np.ceil(df['age']).mean()

# 내림
m_floor = np.floor(df['age']).mean()

# 버림
m_trunc = np.trunc(df['age']).mean()

m_ceil, m_floor, m_trunc

(23.75, 22.75, 23.0)

In [24]:
# 평균값 더한 다음 출력
print(m_ceil + m_floor + m_trunc)

69.5