<a href="https://colab.research.google.com/github/Jungddaseul/Big-Data-Certification-study-/blob/main/T1_3_%EA%B2%B0%EC%B8%A1%EC%B9%98_%EC%B2%98%EB%A6%AC(map_%ED%99%9C%EC%9A%A9).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 결측치 처리
-  주어진 데이터에서 결측치가 80%이상 되는 컬럼은(변수는) 삭제하고, 80% 미만인 결측치가 있는 컬럼은 'city'별 중앙값으로 값을 대체하고 'f1'컬럼의 평균값을 출력하세요!

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

[작업순서]
1. 라이브러리 및 데이터 불러오기
2. 결측치 80%이상 되는 컬럼 찾기 및 삭제
3. 결측치 80%미만 컬럼 'city'별 중앙값(median)으로 값 대체
4. 'f1'컬럼의 평균값 출력

In [3]:
# 라이브러리 및 데이터 불러오기
import numpy as np
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/빅분기/archive/basic1.csv')
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [4]:
df.isnull().sum()

id       0
age      0
city     0
f1      31
f2       0
f3      95
f4       0
f5       0
dtype: int64

In [9]:
df.shape

(100, 8)

In [5]:
# 결측치 비율 확인
df.isnull().sum() / df.shape[0]

id      0.00
age     0.00
city    0.00
f1      0.31
f2      0.00
f3      0.95
f4      0.00
f5      0.00
dtype: float64

In [13]:
# 결측값 80%이상 컬럼 삭제
df = df.drop(columns = 'f3', axis=1)
df

       id    age city    f1  f2    f4         f5
0    id01    2.0   서울   NaN   0  ENFJ  91.297791
1    id02    9.0   서울  70.0   1  ENFJ  60.339826
2    id03   27.0   서울  61.0   1  ISTJ  17.252986
3    id04   75.0   서울   NaN   2  INFP  52.667078
4    id05   24.0   서울  85.0   2  ISFJ  29.269869
..    ...    ...  ...   ...  ..   ...        ...
95   id96   92.0   경기  53.0   1  ENTJ  52.667078
96   id97  100.0   경기   NaN   0  INFP  67.886373
97   id98   39.0   경기  58.0   2  INFP  98.429899
98   id99    1.0   경기  47.0   0  ESFJ  97.381034
99  id100   47.0   경기  53.0   0  ESFP  33.308999

[100 rows x 7 columns]

In [14]:
df['city'].unique()

array(['서울', '부산', '대구', '경기'], dtype=object)

In [16]:
s = df[df['city'] == '서울']['f1'].median()
b = df[df['city'] == '부산']['f1'].median()
d = df[df['city'] == '대구']['f1'].median()
k = df[df['city'] == '경기']['f1'].median()

In [23]:
df['f1'] = df['f1'].fillna(df['city'].map({'서울':s, '부산':b, '대구':d, '경기':k}))

In [24]:
df.head()

     id   age city    f1  f2    f4         f5
0  id01   2.0   서울  68.0   0  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  ISTJ  17.252986
3  id04  75.0   서울  68.0   2  INFP  52.667078
4  id05  24.0   서울  85.0   2  ISFJ  29.269869

In [25]:
df.isnull().sum()

id      0
age     0
city    0
f1      0
f2      0
f4      0
f5      0
dtype: int64

In [26]:
# f1컬럼 평균값 구하기
print(df['f1'].mean())

65.52