<a href="https://colab.research.google.com/github/Jungddaseul/Big-Data-Certification-study-/blob/main/T1_5_%EC%A1%B0%EA%B1%B4%EC%97%90_%EB%A7%9E%EB%8A%94_%EB%8D%B0%EC%9D%B4%ED%84%B0_%ED%91%9C%EC%A4%80%ED%8E%B8%EC%B0%A8_%EA%B5%AC%ED%95%98%EA%B8%B0_Expected_Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 조건에 맞는 데이터 표준편차 구하기
- 주어진 데이터 중 basic1.csv에서 'f4'컬럼 값이 'ENFJ'와 'INFP'인 'f1'의 표준편차 차이를 절대값으로 구하시오
- 데이터셋 : basic1.csv

[작업순서]
1. 라이브러리 및 데이터 불러오기
2. 조건에 맞는 데이터 찾기(ENFJ, INFP)
3. 조건에 맞는 f1의 표준편차 구하기
4. 두 표준편차 차이 절대값 출력

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('/content/drive/MyDrive/빅분기/archive/basic1.csv')
df

       id    age city    f1  f2   f3    f4         f5
0    id01    2.0   서울   NaN   0  NaN  ENFJ  91.297791
1    id02    9.0   서울  70.0   1  NaN  ENFJ  60.339826
2    id03   27.0   서울  61.0   1  NaN  ISTJ  17.252986
3    id04   75.0   서울   NaN   2  NaN  INFP  52.667078
4    id05   24.0   서울  85.0   2  NaN  ISFJ  29.269869
..    ...    ...  ...   ...  ..  ...   ...        ...
95   id96   92.0   경기  53.0   1  NaN  ENTJ  52.667078
96   id97  100.0   경기   NaN   0  NaN  INFP  67.886373
97   id98   39.0   경기  58.0   2  NaN  INFP  98.429899
98   id99    1.0   경기  47.0   0  NaN  ESFJ  97.381034
99  id100   47.0   경기  53.0   0  vip  ESFP  33.308999

[100 rows x 8 columns]

In [6]:
df[df['f4'] == 'ENFJ']

      id   age city    f1  f2   f3    f4         f5
0   id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1   id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
32  id33  47.0   부산  94.0   0  NaN  ENFJ  17.252986
40  id41  81.0   대구  55.0   0  NaN  ENFJ  37.113739
44  id45  97.0   대구  88.0   0  NaN  ENFJ  13.049921
53  id54  53.0   대구   NaN   1  NaN  ENFJ  69.730313

In [9]:
df[df['f4'] == 'ENFJ']['f1']

0      NaN
1     70.0
32    94.0
40    55.0
44    88.0
53     NaN
Name: f1, dtype: float64

In [10]:
df[df['f4'] == 'ENFJ']['f1'].std()

17.727097901235837

In [15]:
enfj = df[df['f4'] == 'ENFJ']['f1'].std()
infp = df[df['f4'] == 'INFP']['f1'].std()
enfj, infp

(17.727097901235837, 23.586719427112648)

In [17]:
print(np.abs(enfj-infp))

5.859621525876811