<a href="https://colab.research.google.com/github/Jungddaseul/Big-Data-Certification-study-/blob/main/T1_8_%EB%88%84%EC%A0%81%ED%95%A9_%EA%B7%B8%EB%A6%AC%EA%B3%A0_%EB%B3%B4%EA%B0%84(%EA%B2%B0%EC%B8%A1%EC%B9%98_%EC%B2%98%EB%A6%AC)_Expected_Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 주어진 데이터 셋에서 'f2' 컬럼이 1인 조건에 해당하는 데이터의 'f1'컬럼 누적합을 계산한다. 이때 발생하는 누적합 결측치는 바로 뒤의 값을 채우고, 누적합의 평균값을 출력한다. (단, 결측치 바로 뒤의 값이 없으면 다음에 나오는 값을 채워넣는다)

- 데이터셋 : basic1.csv

[작업순서]
1. 라이브러리 및 데이터 불러오기
2. f2컬럼이 1인 조건에 해당하는 데이터의 f1 컬럼 누적합 계산
3. 결측치 처리(뒤에 나오는 값으로 채움)
4. 평균 출력

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
#1. 라이브러리 및 데이터 불러오기
import numpy as np
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/빅분기/archive/basic1.csv')
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [5]:
# 2. f2컬럼이 1인 조건에 해당하는 데이터의 f1 컬럼 누적합 계산
df2 = df[df['f2'] == 1]['f1'].cumsum()
df2

1       70.0
2      131.0
6      191.0
7      292.0
9      366.0
13     416.0
14     483.0
16       NaN
19     534.0
20       NaN
21     606.0
22     681.0
25     738.0
27     772.0
33       NaN
35     849.0
37       NaN
46     924.0
49    1002.0
51    1084.0
53       NaN
55       NaN
58       NaN
62    1170.0
65       NaN
66    1222.0
69    1318.0
72       NaN
77    1414.0
80    1464.0
82    1514.0
86       NaN
88    1580.0
91    1658.0
93       NaN
94    1701.0
95    1754.0
Name: f1, dtype: float64

In [7]:
#3. 결측치 처리(뒤에 나오는 값으로 채움)
# s.fillna(method='bfill') # 바로 뒤값으로 채워넣는 방법
# s.fillna(method='pad') # 이전값으로 채워넣는 방법

df2 = df2.fillna(method='bfill')
df2

1       70.0
2      131.0
6      191.0
7      292.0
9      366.0
13     416.0
14     483.0
16     483.0
19     534.0
20     534.0
21     606.0
22     681.0
25     738.0
27     772.0
33     772.0
35     849.0
37     849.0
46     924.0
49    1002.0
51    1084.0
53    1084.0
55    1084.0
58    1084.0
62    1170.0
65    1170.0
66    1222.0
69    1318.0
72    1318.0
77    1414.0
80    1464.0
82    1514.0
86    1514.0
88    1580.0
91    1658.0
93    1658.0
94    1701.0
95    1754.0
Name: f1, dtype: float64

In [8]:
#4. 평균 출력
print(df2.mean())

959.027027027027