<a href="https://colab.research.google.com/github/Jungddaseul/Big-Data-Certification-study-/blob/main/%EC%9E%91%EC%97%851%ED%98%95_2%ED%9A%8C_%EA%B8%B0%EC%B6%9C%EC%9C%A0%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

## (작업형 1) 문제 1

- 데이터셋(basic1.csv)의 'f5' 컬럼을 기준으로 상위 10개의 데이터를 구하고, 
- 'f5'컬럼 10개 중 최소값으로 데이터를 대체한 후
- 'age' 컬럼에서 80 이상인 데이터의 'f5'컬럼 평균값 구하기

#### [작업순서]
 1. 데이터 불러오기
 2. 데이터 확인을 위한 내림차순 정렬
 3. 'f5'컬럼 10개 최소값 변수에 min변수에 저장
 4. 데이터 최소값으로 대체(min)변수 활용
 5. 'age'컬럼에서 80이상 데이터의 'f5'컬럼 평균값 구하기
 mean()함수 활용

In [ ]:
# 라이브러리 모듈, 데이터 불러오기
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/빅분기/archive/basic1.csv')

In [ ]:
# 데이터 확인을 위한 내림차순 정렬
# 데이터 10개행 중 최소값 확인하기 위함
df = df.sort_values('f5', ascending=False)
df.head(10)

      id   age city    f1  f2   f3    f4         f5
10  id11  40.0   서울  68.0   0  NaN  ENFP  98.429899
97  id98  39.0   경기  58.0   2  NaN  INFP  98.429899
9   id10  95.0   서울  74.0   1  NaN  ISFP  98.429899
76  id77  77.0   경기  31.0   0  NaN  INFP  98.429899
98  id99   1.0   경기  47.0   0  NaN  ESFJ  97.381034
91  id92  97.0   경기  78.0   1  NaN  INFP  97.381034
86  id87  19.0   경기   NaN   1  NaN  ISFP  97.381034
71  id72   8.0   경기  97.0   0  NaN  ESTJ  97.381034
11  id12  20.0   서울   NaN   0  NaN  ESTP  91.297791
19  id20  11.0   서울  51.0   1  NaN  INTJ  91.297791

In [ ]:
# 최소값 구하기
min = df['f5'][:10].min()
min

91.29779092

In [ ]:
# 'f5'열 10개 값을 min값으로 대체
df['f5'][:10] = min
df[:10]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

      id   age city    f1  f2   f3    f4         f5
10  id11  40.0   서울  68.0   0  NaN  ENFP  91.297791
97  id98  39.0   경기  58.0   2  NaN  INFP  91.297791
9   id10  95.0   서울  74.0   1  NaN  ISFP  91.297791
76  id77  77.0   경기  31.0   0  NaN  INFP  91.297791
98  id99   1.0   경기  47.0   0  NaN  ESFJ  91.297791
91  id92  97.0   경기  78.0   1  NaN  INFP  91.297791
86  id87  19.0   경기   NaN   1  NaN  ISFP  91.297791
71  id72   8.0   경기  97.0   0  NaN  ESTJ  91.297791
11  id12  20.0   서울   NaN   0  NaN  ESTP  91.297791
19  id20  11.0   서울  51.0   1  NaN  INTJ  91.297791

In [ ]:
# 'age' 80인 데이터 추출
print(df[df['age']>=80]['f5'].mean())

62.49774712521738

## 문제2
- 데이터셋(basic1.csv)의 앞에서 순서대로 70% 데이터만 활용해서,
- 'f1'컬럼 결측치를 중앙값으로 채우기 전후의 표준편차를 구하고
- 두 표준편차 차이 계산하기

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('/content/drive/MyDrive/빅분기/archive/basic1.csv')

In [ ]:
# 데이터 나누기
data70 = df[:70]
data30 = df[70:]

In [ ]:
# 데이터 70%
data70 = df[:int(len(df)*0.7)]
data70

      id   age city    f1  f2   f3    f4         f5
0   id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1   id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2   id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3   id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4   id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869
..   ...   ...  ...   ...  ..  ...   ...        ...
65  id66  87.0   경기   NaN   1  NaN  ISFP  17.252986
66  id67  66.0   경기  52.0   1  NaN  ISFJ  73.586397
67  id68  35.0   경기  45.0   2  NaN  ISFP  67.886373
68  id69  75.0   경기  85.0   0  NaN  ESTJ  69.730313
69  id70  -9.0   경기  96.0   1  NaN  ISTP  48.431184

[70 rows x 8 columns]

In [ ]:
# 결측치 확인
data70.isnull().sum()

id       0
age      0
city     0
f1      23
f2       0
f3      67
f4       0
f5       0
dtype: int64

In [ ]:
# 결측치 채우기 전 f1컬럼 표준편차
std1 = data70['f1'].std()
std1

17.98727579865276

In [ ]:
# 중앙값 확인
med = data70['f1'].median()
med

68.0

In [ ]:
# 중앙값으로 채우기
data70['f1'] = data70['f1'].fillna(med)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
# 결측치 확인
data70.isnull().sum()

id       0
age      0
city     0
f1       0
f2       0
f3      67
f4       0
f5       0
dtype: int64

In [ ]:
# 결측치를 채운 후 표준편차 구하기
std2 = data70['f1'].std()
std2

14.690773995256688

In [ ]:
# 두 표준편차 차이 구하기
print(std1-std2)

3.2965018033960725

## 문제3
- 데이터셋(basic1.csv)의 'age'컬럼의 이상치를 더하시오!
- 단, 평균으로부터 '표준편차*1.5'를 벗어나는 영역을 이상치라고 판단함

#### 문제-3 [작업순서]
 1. 라이브러리 모듈, 데이터 불러오기
 2. 'age' 이상치 영역 구하기
 3. 'age' 평균 구하기
 4. min_이상치, max_이상치 구하기(평균에서 +,-해서 구함)
 5. 조건에 맞는 age컬럼의 이상치 더하기

In [ ]:
# 라이브러리 모듈 및 데이터 불러오기
import pandas as pd
import numpy as np

df = pd.read_csv('/content/drive/MyDrive/빅분기/archive/basic1.csv')

In [ ]:
# 이상치 표준편차 구하기 
std1 = np.std(df['age']) * 1.5
std1

45.43524342126935

In [ ]:
# age평균구하기
mean_age = df['age'].mean()
mean_age

50.963

In [ ]:
# min_out, max_out 이상치 구학
min_out = mean_age - std1
max_out = mean_age + std1
min_out, max_out

(5.527756578730653, 96.39824342126934)

In [ ]:
# 이상치 age 합
df[(df['age'] > max_out) | (df['age'] < min_out)]['age'].sum()

473.5