## 당뇨병 여부 판단
- 이상치 처리 (Glucose, BloodPressure, SkinThickness, Insulin, BMI가 0인 값)

In [2]:
# 시험환경 세팅 (코드 변경 X)
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

def exam_data_load(df, target, id_name="", null_name=""):
    if id_name == "":
        df = df.reset_index().rename(columns={"index": "id"})
        id_name = 'id'
    else:
        id_name = id_name
    
    if null_name != "":
        df[df == null_name] = np.nan
    
    X_train, X_test = train_test_split(df, test_size=0.2, random_state=2021)
    
    y_train = X_train[[id_name, target]]
    X_train = X_train.drop(columns=[target])

    
    y_test = X_test[[id_name, target]]
    X_test = X_test.drop(columns=[target])
    return X_train, X_test, y_train, y_test 
    
df = pd.read_csv("C:\\Users\\161332\\Documents\\github\\Big-Data-Certification-study\\dataset\\diabetes.csv")
X_train, X_test, y_train, y_test = exam_data_load(df, target='Outcome')

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((614, 9), (154, 9), (614, 2), (154, 2))

## EDA

In [3]:
X_train.head()

,id,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
147,147,2,106,64,35,119,30.5,1.400,34
344,344,8,95,72,0,0,36.8,0.485,57
390,390,1,100,66,29,196,32.0,0.444,42
150,150,1,136,74,50,204,37.4,0.399,24
132,132,3,170,64,37,225,34.5,0.356,30

In [4]:
 y_train.head()

      id  Outcome
147  147        0
344  344        0
390  390        0
150  150        0
132  132        1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [ ]:
# Glucose : 포도당
# BloodPressure : 혈압
# SkinThickness : 피부두께
# Insulin : 인슐린

In [6]:
X_train.describe()

,id,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
count,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000
mean,386.978827,3.845277,120.705212,68.530945,20.982085,82.229642,31.948534,0.477471,33.319218
std,219.881344,3.388952,32.047977,19.761915,15.965031,116.525772,7.734385,0.339811,11.940953
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000
25%,196.500000,1.000000,99.000000,62.000000,0.000000,0.000000,27.400000,0.244250,24.000000
50%,388.000000,3.000000,117.000000,72.000000,23.000000,44.000000,32.250000,0.377000,29.000000
75%,575.750000,6.000000,140.000000,80.000000,33.000000,130.000000,36.600000,0.628500,41.000000
max,766.000000,17.000000,199.000000,114.000000,99.000000,846.000000,59.400000,2.420000,81.000000

## 데이터 전처리

In [9]:
# 이상치 처리(Train)

print('Glucose : ', len(X_train[X_train['Glucose'] == 0]))
print('BloodPressure : ', len(X_train[X_train['BloodPressure'] == 0]))
print('SkinThickness : ', len(X_train[X_train['SkinThickness'] == 0]))
print('Insulin : ', len(X_train[X_train['Insulin'] == 0]))
print('BMI : ', len(X_train[X_train['BMI'] == 0]))

Glucose :  5
BloodPressure :  31
SkinThickness :  175
Insulin :  287
BMI :  9

In [10]:
# 이상치 처리(test)

print('Glucose : ', len(X_test[X_test['Glucose'] == 0]))
print('BloodPressure : ', len(X_test[X_test['BloodPressure'] == 0]))
print('SkinThickness : ', len(X_test[X_test['SkinThickness'] == 0]))
print('Insulin : ', len(X_test[X_test['Insulin'] == 0]))
print('BMI : ', len(X_test[X_test['BMI'] == 0]))

Glucose :  0
BloodPressure :  4
SkinThickness :  52
Insulin :  87
BMI :  2

In [11]:
# 포도당 이상치 삭제
del_idx = X_train[X_train['Glucose'] == 0].index
del_idx

Int64Index([182, 75, 342, 502, 349], dtype='int64')

In [12]:
print('Glucose 이상치 삭제 전 :', X_train.shape, y_train.shape)
X_train = X_train.drop(index=del_idx, axis=0)
y_train = y_train.drop(index=del_idx, axis=0)
print('Glucose 이상치 삭제 후 :', X_train.shape, y_train.shape)

Glucose 이상치 삭제 전 : (614, 9) (614, 2)
Glucose 이상치 삭제 후 : (609, 9) (609, 2)

In [13]:
# 포도당을 제외한 이상치, 평균값으로 대체
cols = ['BloodPressure', 'SkinThickness', 'Insulin', 'BMI']
cols_mean = X_train[cols].mean()
X_train[cols] = X_train[cols].replace(0, cols_mean)

In [15]:
# 스케일링
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
cols = ['Pregnancies','Glucose','BloodPressure','SkinThickness','Insulin','BMI','DiabetesPedigreeFunction','Age']

X_train[cols] = scaler.fit_transform(X_train[cols])
X_test[cols] = scaler.fit_transform(X_test[cols])

In [16]:
# id 제외
X = X_train.drop('id', axis=1)
test = X_test.drop('id', axis=1)

In [17]:
X.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
147,-0.546420,-0.519408,-0.676393,0.835116,-0.025114,-0.286497,2.708083,0.053740
344,1.222064,-0.883411,-0.002310,-0.621092,-0.407202,0.657050,0.019775,1.978900
390,-0.841167,-0.717955,-0.507872,0.214955,0.789122,-0.061843,-0.100685,0.723361
150,-0.841167,0.473330,0.166211,2.385518,0.873718,0.746911,-0.232896,-0.783286
132,-0.251673,1.598432,-0.676393,1.041836,1.095782,0.312580,-0.359232,-0.281070

In [18]:
from sklearn.svm import SVC

model = SVC(random_state=2022)
model.fit(X, y_train['Outcome'])
pred = model.predict(test)

In [25]:
round(model.score(X, y_train['Outcome']) * 100, 2)

82.92

In [26]:
output = pd.DataFrame({'idx' : X_test.index, 'Outcome':pred})
output.head()

   idx  Outcome
0  258        1
1  220        1
2  438        0
3  130        1
4  730        0

In [28]:
# 수험번호.csv로 출력
output.to_csv('123456.csv', index=False)

In [29]:
round(model.score(test, y_test['Outcome'])* 100, 2)

75.32